[Desktop Entry]
Name=Desktop ADB File Browser App
Comment=Super Cool App that does everything
Exec=desktop_adb_file_browser 
Icon=${SNAP}/meta/gui/desktop_adb_file_browser.png # replace name to your app name
Terminal=false
Type=Application
Categories=Education; #adjust accordingly your snap category
