[Desktop Entry]
Name=Desktop ADB File Browser App
Comment=Browse Android device files
Exec=desktop_adb_file_browser 
Icon=${SNAP}/meta/gui/desktop-adb-file-browser.png # replace name to your app name
Terminal=false
Type=Application
Categories=Education; #adjust accordingly your snap category
